$size-x-big-width : 6px;
$size-x-big-height : 40px;

/*the media queries*/
@media (min-width:320px)  {
    .container{
        background-color: #f1f1f1;
        width: 320px;
        margin:0px auto;
    }
}
@media (min-width:481px)  {
    .container{
        background-color: #f1f1f1;
        width: 400px;
        margin:0px auto;
    }
}
@media (min-width:641px)  {
    .container{
        background-color: #f1f1f1;
        width: 600px;
        margin:0px auto;
    }
}
@media (min-width:961px)  {
    .container{
        background-color: #f1f1f1;
        width: 800px;
        margin:0px auto;
    }
}
@media (min-width:1025px) {
    .container{
        background-color: #f1f1f1;
        width: 800px;
        margin:0px auto;
    }
}

/*Only necessary css blocks are added, Minimal*/
* {
    box-sizing: border-box;
    font-family: Arial,SansSerif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 50px auto 20px;
}
.container{
    display: flex;
    flex-direction: column;
}

.description{
    margin: 50px 20px 20px;
}

.description p {
    line-height: 1.5em;
}
.description a {
    color: darkturquoise;
}
