/*Part 3: Simple search application*/

.searchHistoryContainer{
  box-sizing: border-box;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#searchHistoryBar{
  padding-top: 10px;
  position: relative;
}

.transparent-button{
  color: #818181;
  border: none;
  background: none;
  margin: 0;
  &:hover{
    cursor: pointer;
  }
}

.clear-button{
  text-decoration: underline;
  font-size: 0.8em;
  &:hover{
    color: #666666;
    text-decoration: underline;
    cursor: pointer;
  }

}


//for sizing and better view
.extended-box {
  box-sizing: border-box;
  width:96%;
}

.search-record-outer{
  width: 100%;
  padding: 0 1em;
}

.search-record-inner{
  border-bottom: 1px solid #666666;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  color: #333333;
  display: flex;
  justify-content: space-between;
  //font-weight: bold;
}

.search-record:hover{
  background-color: antiquewhite;
}


.close {
  margin-left: 0.5em;
  margin-right: 1em;
  position: relative;
  width: 1em;
  height: 1em;
  opacity: 1;
}
.close:hover {
  background-color: #222222;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 0.5em;
  content: ' ';
  height: 1em;
  width: 2px;
  background-color: #818181;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
//Note it uses the .x class in ButtonComponent
.x-size-small {
  width:15px;
  height:15px;
}
.bg-gray {
  background-color: #818181 ;
}
